/*
Max Width 1080px
==========================================================
*/

@media ( max-width: 1080px ) {
	.single-testimonial h3 {
		font-size: 20px;
		margin: 10px 0;
	}
}


/*
Max Width 991px
==========================================================
*/

@media ( max-width: 991px ) {
	.section-description {
	    font-size: 1.5rem;
	}

	.article-left {
		margin-bottom: 30px;
	}

	.single-testimonial {
		display: block;
	}

	.testimonial-details,
	.testimonial-img {
		float: none;
		width: 100%;
	}

	.testimonial-details-wrapper {
	    position: relative;
	    top: 0;
	    margin-bottom: 30px;
	    padding: 20px 0;
	    -webkit-transform: translateY(0);
	       -moz-transform: translateY(0);
	        -ms-transform: translateY(0);
	         -o-transform: translateY(0);
	            transform: translateY(0);
	}
}


/*
Max Width 767px
==========================================================
*/

@media ( max-width: 767px ) {
	.craste-sidebar-menu {
		width: 100%;
	}

	.sidebar-menu-social {
	    margin: 30px 0 20px;
	}
	
	.grid-sizer.cols-3,
	.grid-item.cols-3,
	.grid-sizer.cols-4,
	.grid-item.cols-4,
	.grid-item.cols-5,
	.grid-item.cols-6 {
	    float: none;
	}

	.grid-sizer.cols-2,
	.grid-item.cols-2,
	.grid-sizer.cols-3,
	.grid-item.cols-3,
	.grid-sizer.cols-4,
	.grid-item.cols-4,
	.grid-item--width2.cols-3,
	.grid-item--width2.cols-4,
	.grid-sizer.cols-5,
	.grid-item.cols-5,
	.grid-item--width2.cols-5,
	.grid-item--width2.cols-5,
	.grid-sizer.cols-6,
	.grid-item.cols-6,
	.grid-item--width2.cols-6,
	.grid-item--width2.cols-6 {
	    width: 100%;
	}

	.craste-about-area,
	.craste-portfolio-area,
	.craste-services-area,
	.craste-resume-area,
	.craste-testimonial-area,
	.craste-blog-area {
		padding: 80px 0 0;
	}

	.testimonial-details {
		padding: 10px;
	}

	.craste-contact-wrapper form p:nth-child(1),
	.craste-contact-wrapper form p:nth-child(2) {
		float: none;
		margin: 0 0 15px;
		width: 100%;
	}

	.single-resume-details {
	    margin-bottom: 60px;
	}

	.single-blog-content h6 {
		margin-top: 10px;
	}

	.comment-content h4 {
		font-size: 1.2rem
	}
}

/*
Max Width 575px
==========================================================
*/

@media ( max-width: 575px ) {
	.banner-social ul li {
		display: inline-block;
		margin-right: 15px;
	}

	.craste-banner-area {
		-webkit-background-size: contain;
		background-size: contain;
	}

	.section-heading {
	    -webkit-transform: rotate(0) translateX(0) translateY(-100%);
	       -moz-transform: rotate(0) translateX(0) translateY(-100%);
	        -ms-transform: rotate(0) translateX(0) translateY(-100%);
	         -o-transform: rotate(0) translateX(0) translateY(-100%);
	            transform: rotate(0) translateX(0) translateY(-100%);
	}

	.section-description {
		font-size: 25px;
	}

	.craste-skills-area,
	.craste-services-wrapper,
	.craste-resume-details,
	.craste-testimonial-wrapper,
	.craste-blog-wrapper,
	.craste-partners-wrapper,
	.craste-contact-wrapper {
		padding-top: 50px;
	}

	.banner-wrapper h2 {
		font-size: 1.5rem;
	}

	.banner-wrapper h5 {
		font-size: 1rem;
	}

	.banner-wrapper p {
		margin-top: 15px;
	}

	.single-article h4,
	.single-blog-content h3 {
	    font-size: 1.2rem;
	}
}

@media ( max-width: 441px ) {
	.craste-initial-header-area .container-fluid,
	.craste-initial-header-area .container-fluid .col,
	.craste-initial-header-area .container-fluid .col .craste-main-header {
		padding: 0px;
	}

	.craste-initial-header-area .container-fluid .col .craste-main-header ul {
		margin: 0px;
	}

	.craste-initial-header-area .container-fluid .col .craste-main-header ul a {
		font-size: 15px;
	}

	.craste-banner-image-area {
		padding-top: 70px;
	}

	.craste-banner-image-area .banner-wrapper img {
		display: none;
	}

	.craste-banner-image-area .row.craste-shrink .col-4 {
		flex: none;
		max-width: 100%;
		background-color: rgba(0,0,0,0.9);
	}

	.craste-banner-image-area .row.craste-shrink .col-4 h3,
	.craste-banner-image-area .row.craste-shrink .col-4 h5 {
		width: 100%;
	}

	.craste-banner-image-area.is-image {
		background-image: url(../images/1-01-mobile.png);
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}

	.craste-about-area {
		padding-top: 0px;
	}

	.craste-about-area .banner-wrapper {
		width: 100%;
		flex: none;
		max-width: 100%;
		padding: 20px;
	}

	.craste-team-area,
	.craste-testimonial-area,
	.craste-services-area,
	.craste-services-area .container-fluid,
	.about-intro,
	.on-boarding .second-column,
	.talent .second-column,
	.inestability .second-column,
	.challenges .second-column {
		background-image: none;
	}

	.craste-services-area .container-fluid {
		padding-left: 0px;
	}

	.footer-area h2.section-description,
	.craste-testimonial-area h2.section-description,
	.craste-services-area h2.section-description {
		font-size: 45px;
	}

	.banner-social ul li {
		display: inline-block;
		margin-right: 15px;
	}

	.craste-banner-area {
		-webkit-background-size: contain;
		background-size: contain;
	}

	.section-heading {
	    -webkit-transform: rotate(0) translateX(0) translateY(-100%);
	       -moz-transform: rotate(0) translateX(0) translateY(-100%);
	        -ms-transform: rotate(0) translateX(0) translateY(-100%);
	         -o-transform: rotate(0) translateX(0) translateY(-100%);
	            transform: rotate(0) translateX(0) translateY(-100%);
	}

	.section-description {
		font-size: 25px;
	}

	.craste-skills-area,
	.craste-services-wrapper,
	.craste-resume-details,
	.craste-testimonial-wrapper,
	.craste-blog-wrapper,
	.craste-partners-wrapper,
	.craste-contact-wrapper {
		padding-top: 50px;
	}

	.banner-wrapper h2 {
		font-size: 1.5rem;
	}

	.banner-wrapper h5 {
		font-size: 1rem;
	}

	.banner-wrapper p {
		margin-top: 15px;
	}

	.single-article h4,
	.single-blog-content h3 {
	    font-size: 1.2rem;
	}
}