<footer class="footer-area">
    <div class="container-fluid">
        <div class="row craste-shrink justify-content-sm-center">
            <div class="col-sm-8 col">
                <div class="footer">
                    <div class="titles">
                        <h3 class="section-description">Quieres</h3>
                        <h2 class="section-description">saber más</h2>
                    </div>
                    <ul class="social-icons">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div><!-- .footer -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container-fluid -->
</footer><!-- .footer-area -->

<a href="#" id="top" class="top">
    <i class="fas fa-long-arrow-alt-up top-icon"></i>
    <i class="fas fa-long-arrow-alt-up top-icon-alt"></i>
</a>

{% for js in site.data.js %}
<script src="{{ js.file }}"></script>
{% endfor %}
