    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <header class="craste-main-header-area">
        <div class="container-fluid">
            <div class="row craste-shrink">
                <div class="col">
                    <div class="navbar craste-main-header">
                        <div class="header-border"></div><!-- .header-border -->
                        <a class="navbar-brand" href="index.html">
                            <img src="images/logo.png" alt="Site Title">
                        </a>
                        <div class="craste-humburger-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div><!-- .craste-humburger-icon -->
                        <div class="craste-sidebar-menu">
                            <span class="close-sidebar"><img src="images/crosshair-dark.png" alt="Close Icon"></span>
                            <a class="navbar-brand" href="index.html">
                                <img src="images/logo.png" alt="Site Title">
                            </a>
                            <nav>
                                <ul>
                                    <li><a href="#home">Home</a></li>
                                    <li><a href="#about">About</a></li>
                                    <li><a href="#portfolio">Portfolio</a></li>
                                    <li><a href="#services">Services</a></li>
                                    <li><a href="#resume">Resume</a></li>
                                    <li><a href="#testimonial">Testimonial</a></li>
                                    <li><a href="#blog">Blog</a></li>
                                    <li><a href="#partner">Partner</a></li>
                                    <li><a href="#contact">Contact</a></li>
                                </ul>
                            </nav>
                            <div class="sidebar-menu-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div><!-- .sidebar-menu-social -->
                            <p>&copy; 2018 - All Rights Reserved </p>
                        </div><!-- .craste-sidebar-menu -->
                    </div><!-- .craste-main-header -->
                </div><!-- .col -->
            </div><!-- .row craste-shrink -->
        </div><!-- .container-fluid -->
    </header><!-- .craste-main-header-area -->
