<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.title }} - {{ site.claim }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% for css in site.data.css %}
    <link rel="stylesheet" href="{{ css.file | absolute_url }}">
    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    {% endfor %}
</head>
