<section class="craste-about-area" id="about">
    <div class="container-fluid">
        <div class="row craste-shrink">
            <div class="col-sm-2 col-12">
                <div class="section-heading-wrapper">
                    <h5 class="section-heading">About Me</h5>
                </div>
            </div><!-- .col-sm-2 col-12 -->
            <div class="col-sm-8 col-12">
                <div class="craste-about">
                    <h2 class="section-description">I am a passionate web developer and love to play with web interface</h2>

                    <div class="craste-skills-area">
                        <div class="craste-progress">
                            <span>HTML &amp; CSS</span>
                            <div class="craste-progress-bar-1-1"></div>
                        </div><!-- .craste-progress -->
                        <div class="craste-progress">
                            <span>javascript &amp; jquery</span>
                            <div class="craste-progress-bar-1-2"></div>
                        </div><!-- .craste-progress -->
                        <div class="craste-progress">
                            <span>WordPress &amp; PHP</span>
                            <div class="craste-progress-bar-1-3"></div>
                        </div><!-- .craste-progress -->
                        <div class="craste-progress">
                            <span>Database Management</span>
                            <div class="craste-progress-bar-1-4"></div>
                        </div><!-- .craste-progress -->
                    </div><!-- .craste-skills-area -->
                </div><!-- .craste-about -->
            </div><!-- .col-sm-8 .offset-sm-1 .col-12 -->
        </div><!-- .row -->
    </div><!-- .container-fluid -->
</section><!-- .craste-about-area -->

