<section class="craste-about-area" id="about">
    <div class="about-intro">
        <div class="banner-wrapper">
            <h2>I'm Lynn Daniels</h2>
            <h5>Passionate Web Developer</h5>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old Lorem ipsum dolor sit amet consectetur adipisicing elit aperiam voluptatem ut autem sint repellat dolorum atin literature from </p>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old Lorem ipsum dolor sit amet consectetur adipisicing elit aperiam</p>
            <a href="#" class="craste-btn download-cv">
                <span class="text">Download CV</span>
            </a>
        </div><!-- .banner-wrapper -->
    </div><!-- .about-intro -->
    <div class="personal-history">
        <div class="container-fluid">
            <div class="row craste-shrink">
                <div class="col-md-6 col-12 align-self-center">
                    <div class="craste-about">
                        <div class="craste-skills-area">
                            <div class="craste-progress">
                                <span>HTML &amp; CSS</span>
                                <div class="craste-progress-bar-1-1"></div>
                            </div><!-- .craste-progress -->
                            <div class="craste-progress">
                                <span>javascript &amp; jquery</span>
                                <div class="craste-progress-bar-1-2"></div>
                            </div><!-- .craste-progress -->
                            <div class="craste-progress">
                                <span>WordPress &amp; PHP</span>
                                <div class="craste-progress-bar-1-3"></div>
                            </div><!-- .craste-progress -->
                            <div class="craste-progress">
                                <span>Database Management</span>
                                <div class="craste-progress-bar-1-4"></div>
                            </div><!-- .craste-progress -->
                        </div><!-- .craste-skills-area -->
                    </div><!-- .craste-about -->
                </div><!-- .col-sm-8 .offset-sm-1 .col-12 -->
                <div class="col-md-6 col-12">
                    <div class="project-counter">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="single-history text-center">
                                    <i class="fas fa-coffee"></i>
                                    <h4>Cup Of Coffee</h4>
                                    <div class="count">
                                        <span class="counter">150</span>+
                                    </div><!-- .count -->
                                </div><!-- .single-history -->
                            </div><!-- .col-md-6 col-12 -->
                            <div class="col-md-6 col-12">
                                <div class="single-history text-center">
                                    <i class="fas fa-briefcase"></i>
                                    <h4>Projects Done</h4>
                                    <div class="count">
                                        <span class="counter">50</span>+
                                    </div><!-- .count -->
                                </div><!-- .single-history -->
                            </div><!-- .col-md-6 col-12 -->
                            <div class="col-md-6 col-12">
                                <div class="single-history text-center">
                                    <i class="far fa-smile"></i>
                                    <h4>Happy Clients</h4>
                                    <div class="count">
                                        <span class="counter">160</span>+
                                    </div><!-- .count -->
                                </div><!-- .single-history -->
                            </div><!-- .col-md-6 col-12 -->
                            <div class="col-md-6 col-12">
                                <div class="single-history text-center">
                                    <i class="fas fa-code-branch"></i>
                                    <h4>Hours Of Code</h4>
                                    <div class="count">
                                        <span class="counter">3000</span>+
                                    </div><!-- .count -->
                                </div><!-- .single-history -->
                            </div><!-- .col-md-6 col-12 -->
                        </div><!-- .row -->
                    </div><!-- .project-counter -->
                </div><!-- .col-sm-8 offset-sm-1 col-12 -->
            </div><!-- .row -->
        </div><!-- .container-fluid -->
    </div><!-- .personal-history -->
</section><!-- .craste-about-area -->
