<section class="craste-banner-image-area banner-three text-center is-image is-parallax white-color pb180" id="home">
    <div class="background-overlay"></div>
    <div class="container-fluid">
        <div class="row craste-shrink">
            <div class="col-12">
                <div class="banner-wrapper">
                    <h2 class="subtitle cd-headline clip">
                        <span>Hi, I am</span>
                        <span class="cd-words-wrapper">
                            <b class="is-visible">Lynn Daniels!</b>
                            <b>a Photographer</b>
                            <b>a Developer</b>
                            <b>a Dreamer</b>
                        </span>
                    </h2>
                    <h5>Passionate Web Developer</h5>
                    <div class="banner-social">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div><!-- .banner-social -->
                    <img src="images/signature.png" alt="Lynn Daniels">
                </div><!-- .banner-wrapper -->
            </div><!-- .col-sm-8 offset-sm-1 col-12 -->
        </div><!-- .row craste-shrink -->
    </div><!-- .container-fluid -->
</section><!-- .craste-banner-image-area -->
