<section class="craste-contact-area noptb contact-alt" id="contact">
    <div class="container-fluid noplf">
        <div class="row no-gutters">
            <div class="col-md-6 col-12">
                <div class="contact-details-info">
                    <h3>Contact Info</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio, blanditiis rem nesciunt nulla molestias harum nobis animi distinctio sunt! Dicta distinctio ad nesciunt aliquid, error facere neque, omnis molestias!</p>
                    <div class="single-info">
                        <i class="fas fa-phone"></i>
                        <p>+1551 545 5412</p>
                    </div><!-- .single-info -->
                    <div class="single-info">
                        <i class="far fa-envelope-open"></i>
                        <p>something@email.com</p>
                    </div><!-- .single-info -->
                    <div class="single-info">
                        <i class="far fa-map"></i>
                        <p>New York City, USA</p>
                    </div><!-- .single-info -->
                </div><!-- .contact-details-info -->
            </div><!-- .col-sm-6 .col-12 -->
            <div class="col-md-6 col-12 align-self-center">
                <div class="craste-contact">
                    <form class="contact-form" action="process.php" method="post" id="contact-form">
                        <p>
                            <label for="name">Name:</label>
                            <input type="text" id="name" name="name" required="required">
                        </p>
                        <p>
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" required="required">
                        </p>
                        <p>
                            <label for="phone">Phone:</label>
                            <input type="text" id="phone" name="phone" required="required">
                        </p>
                        <p>
                            <label for="subject">Subject:</label>
                            <input type="text" id="subject" name="subject" required="required">
                        </p>
                        <p>
                            <label for="message">Message:</label>
                            <textarea id="message" name="message"></textarea>
                        </p>
                        <button type="submit">Submit</button>
                    </form>
                </div><!-- .craste-contact -->
            </div><!-- .col-sm-6 .col-12 -->
            <div class="col-6">
                <div class="contact__msg text-center">
                    <p>Your message was sent successfully.</p>
                </div>
            </div><!-- .col-xs-12 -->
        </div><!-- .row -->
    </div><!-- .container-fluid -->
</section><!-- .craste-contact-area -->
