<section class="craste-about-area" id="intro">
    <div class="container-fluid about-intro">
        <div class="row craste-shrink">
            <div class="col-12">
                    <div class="row justify-content-center">
                        <div class="col-8 banner-wrapper">
                            <div class="waves"></div>
                            <h2>{{ site.data.intro.title }}</h2>
                            {{ site.data.intro.text | markdownify }}
                        </div><!-- .col-md .col-12 -->
                    </div><!-- .row -->
            </div><!-- .col-sm-8 .offset-sm-1 .col-12 -->
        </div><!-- .row -->
    </div><!-- .container-fluid -->
</section><!-- .craste-about-area -->
