<section class="craste-about-area" id="intro">
    <div class="container-fluid about-intro">
        <div class="row craste-shrink">
            <div class="col-12">
                    <div class="row">
                        <div class="col-md-6 col-12">
                        </div><!-- .col-md .col-12 -->
                        <div class="col-md-6 col-12 align-self-center banner-wrapper">
                            {{ site.data.intro.text | markdownify }}
                        </div><!-- .col-md .col-12 -->
                    </div><!-- .row -->
            </div><!-- .col-sm-8 .offset-sm-1 .col-12 -->
        </div><!-- .row -->
    </div><!-- .container-fluid -->
</section><!-- .craste-about-area -->
