<section class="craste-partners-area" id="partner">
    <div class="container-fluid">
        <div class="row craste-shrink">
            <div class="col-sm-2 col-12">
                <div class="section-heading-wrapper">
                    <h5 class="section-heading">Partner</h5>
                </div>
            </div><!-- .col-sm-2 col-12 -->
            <div class="col-sm-8 col-12">
                <div class="craste-partners">
                    <h2 class="section-description">As a web developer, Some of my great partners that I work with</h2>

                    <div class="craste-partners-wrapper">
                        <div class="row">
                            {% for partner in site.data.partners %}
                            <div class="col-sm col-4">
                                <div class="single-service">
                                    <img src="{{ partner.image }}" alt="{{ partner.alt }}">
                                </div><!-- .single-service -->
                            </div><!-- .col-sm-6 .col-12 -->
                            {% endfor %}
                        </div><!-- .row -->
                    </div><!-- .craste-partners-wrapper -->
                </div><!-- .craste-partners -->
            </div><!-- .col-sm-8 .offset-sm-1 .col-12 -->
        </div><!-- .row -->
    </div><!-- .container-fluid -->
</section><!-- .craste-partners-area -->
