<section class="craste-partners-area" id="partner">
    <div class="container-fluid">
        <div class="row craste-shrink">
            <div class="col-sm-2 col-12">
                <div class="section-heading-wrapper">
                    <h5 class="section-heading"></h5>
                </div>
            </div><!-- .col-sm-2 col-12 -->
            <div class="col-sm-8 col-12">
                <div class="craste-partners">
                    <h2 class="section-description">Que ofrecemos</h2>
                </div><!-- .craste-partners -->
            </div><!-- .col-sm-8 .offset-sm-1 .col-12 -->
        </div><!-- .row -->
    </div><!-- .container-fluid -->
</section><!-- .craste-partners-area -->
