<section class="craste-resume-area resume-alt" id="resume">
    <div class="container-fluid">
        <div class="row craste-shrink">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="degree-title left">
                            <h3>Education_</h3>
                        </div><!-- .degree-title -->
                    </div><!-- .col-md .col-12 -->
                    <div class="col-md-6 col-12 align-self-center">
                        <div class="single-resume-details">
                            <h4>UI/UX Course</h4>
                            <h5>University of teach studio</h5>
                            <h6>2010 - 2014</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing. Ut elit tellus, luctus nec ullamcorper </p>
                        </div><!-- .single-resume-details -->
                        <div class="single-resume-details">
                            <h4>Web Development</h4>
                            <h5>University of teach studio</h5>
                            <h6>2010 - 2014</h6>
                            <p class="mb0">Lorem ipsum dolor sit amet, consectetur adipiscing. Ut elit tellus, luctus nec ullamcorper </p>
                        </div><!-- .single-resume-details -->
                        <div class="single-resume-details">
                            <h4>Web Development</h4>
                            <h5>University of teach studio</h5>
                            <h6>2010 - 2014</h6>
                            <p class="mb0">Lorem ipsum dolor sit amet, consectetur adipiscing. Ut elit tellus, luctus nec ullamcorper </p>
                        </div><!-- .single-resume-details -->
                    </div><!-- .col-md .col-12 -->
                    <div class="col-md-6 col-12 align-self-center">
                        <div class="single-resume-details text-right">
                            <h4>UI/UX Course</h4>
                            <h5>University of teach studio</h5>
                            <h6>2010 - 2014</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing. Ut elit tellus, luctus nec ullamcorper </p>
                        </div><!-- .single-resume-details -->
                        <div class="single-resume-details text-right">
                            <h4>Web Development</h4>
                            <h5>University of teach studio</h5>
                            <h6>2010 - 2014</h6>
                            <p class="mb0">Lorem ipsum dolor sit amet, consectetur adipiscing. Ut elit tellus, luctus nec ullamcorper </p>
                        </div><!-- .single-resume-details -->
                        <div class="single-resume-details text-right">
                            <h4>Web Development</h4>
                            <h5>University of teach studio</h5>
                            <h6>2010 - 2014</h6>
                            <p class="mb0">Lorem ipsum dolor sit amet, consectetur adipiscing. Ut elit tellus, luctus nec ullamcorper </p>
                        </div><!-- .single-resume-details -->
                    </div><!-- .col-md .col-12 -->
                    <div class="col-md-6 col-12">
                        <div class="degree-title right">
                            <h3>Experience</h3>
                        </div><!-- .degree-title -->
                    </div><!-- .col-md .col-12 -->
                </div><!-- .row -->
            </div><!-- .col-sm-8 .offset-sm-1 .col-12 -->
        </div><!-- .row -->
    </div><!-- .container-fluid -->
</section>
