<section class="craste-services-area" id="services">
    <div class="container-fluid">
        <div class="row craste-shrink">
            <div class="col-sm-2 col-12">
                <div class="section-heading-wrapper">
                    <h5 class="section-heading">Services</h5>
                </div>
            </div><!-- .col-sm-2 col-12 -->
            <div class="col-sm-8 col-12">
                <div class="craste-services">
                    <h2 class="section-description">As a web developer, I offer some great services to deal with me to work</h2>

                    <div class="craste-services-wrapper">
                        <div class="row">
                            {% for service in site.data.services %}
                            <div class="col-md-6 col-12">
                                <div class="single-service">
                                    <h5>{{ service.title }}</h5>
                                    <p>{{ service.description }}</p>
                                </div><!-- .single-service -->
                            </div><!-- .col-md-6 .col-12 -->
                            {% endfor %}
                        </div><!-- .row -->
                    </div><!-- .craste-services-wrapper -->
                </div><!-- .craste-services -->
            </div><!-- .col-sm-8 .offset-sm-1 .col-12 -->
        </div><!-- .row -->
    </div><!-- .container-fluid -->
</section><!-- .craste-services-area -->
