<section class="craste-services-area service-alt" id="services">
    <div class="container-fluid">
        <div class="row craste-shrink">
            <div class="col-sm-8 col-12">
                <div class="craste-partners">
                    <h3 class="section-description">Qué</h3>
                    <h2 class="section-description">ofrecemos</h2>
                </div><!-- .craste-partners -->
            </div><!-- .col-sm-8 .offset-sm-1 .col-12 -->
        </div><!-- .row -->
        <div class="row craste-shrink">
            <div class="col-12">
                <div class="craste-services">
                  {% for service in site.data.services %}
                    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
                    {% if thecycle == 'odd' %}
                      <div class="row">
                    {% endif %}
                        <div class="col-md-6 col-12">
                            <div class="single-service">
                                <i class="fas {{ service.icon }}"></i>
                                <h5>{{ service.title }}</h5>
                                <p>{{ service.description | markdownify}}</p>
                                <p>{{ service.description2 |markdownify }}</p>
                            </div><!-- .single-service -->
                        </div><!-- .col-md-3 .col-12 -->
                    {% if thecycle == 'even' %}
                      </div><!-- .row -->
                    {% endif %}
                  {% endfor %}
                </div><!-- .craste-services -->
            </div><!-- .col-sm-8 .offset-sm-1 .col-12 -->
        </div><!-- .row -->
    </div><!-- .container-fluid -->
</section><!-- .craste-services-area -->
