<section class="craste-resume-area" id="team">
    <div class="container-fluid">
        <div class="row craste-shrink">
            <div class="col-sm-2 col-12">
                <div class="section-heading-wrapper">
                    <h5 class="section-heading"></h5>
                </div>
            </div><!-- .col-sm-2 col-12 -->
            <div class="col-sm-8 col-12">
                <div class="craste-resume">
                    <h2 class="section-description">Equipo</h2>

                    <div class="craste-resume-details">
                        <div class="row">
                            {% for member in site.data.team %}
                            <div class="col-md col-12">
                                <h3>{{ member.name }}</h3>
                                <div class="single-resume-details">
                                    <img src="{{ member.picture }}"/>
                                    <ul class="social-links">
                                        <li><a href="{{ member.twitter }}"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="{{ member.twitter }}"><i class="fab fa-linkedin"></i></a></li>
                                    </ul>
                                    <p>{{ member.description }}</p>
                                </div><!-- .single-resume-details -->
                            </div><!-- .col-md .col-12 -->
                            {% endfor %}
                        </div><!-- .row -->
                    </div><!-- .craste-resume-details -->
                </div><!-- .craste-resume -->
            </div><!-- .col-sm-8 .offset-sm-1 .col-12 -->
        </div><!-- .row -->
    </div><!-- .container-fluid -->
</section><!-- .craste-resume-area -->
