<section class="craste-testimonial-area" id="testimonial">
    <div class="container-fluid">
        <div class="row craste-shrink">
            <div class="col-sm-8 col-12 centered">
                <div class="craste-testimonial">
                    <h3 class="section-description">Lee los</h3>
                    <h2 class="section-description">testimonios</h2>
                    <div class="craste-testimonial-wrapper">
                        {% for testimonial in site.data.testimonials %}
                        <div class="single-testimonial">
                            <div class="testimonial-details">
                                <div class="testimonial-details-wrapper">
                                    <h3>{{ testimonial.name }}</h3>
                                    <h2>{{ testimonial.company }}</h2>
                                    <p>{{ testimonial.description }}</p>
                                </div><!-- .testimonial-details-wrapper -->
                            </div><!-- .testimonial-details -->
                            <div class="testimonial-img">
                                <img src="{{ testimonial.image }}" alt="Client">
                            </div><!-- .testimonial-img -->
                        </div><!-- .single-testimonial -->
                        {% endfor %}
                    </div><!-- .craste-testimonial-wrapper -->
                </div><!-- .craste-testimonial -->
            </div><!-- .col-sm-8 .offset-sm-1 .col-12 -->
        </div><!-- .row -->
    </div><!-- .container-fluid -->
</section><!-- .craste-testimonial-area -->
