<section class="craste-banner-image-area banner-three text-center is-image is-parallax white-color pb180" id="home">
    <div class="background-overlay"></div>
    <div class="container-fluid">
        <div class="row craste-shrink">
            <div class="col-12">
                <div class="banner-wrapper">
                    <img src="images/logo.png" width="200px" alt="Site Title">
                    <h2 class="subtitle cd-headline clip">
                        <span class="cd-words-wrapper">
                            <b class="is-visible">{{ site.data.title.title }}</b>
                        </span>
                    </h2>
                    <h3>{{ site.data.title.claim }}</h3>
                    <h5>{{ site.data.title.summary }}</h5>
                    <div class="banner-social">
                        <ul>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div><!-- .banner-social -->
                </div><!-- .banner-wrapper -->
            </div><!-- .col-sm-8 offset-sm-1 col-12 -->
        </div><!-- .row craste-shrink -->
    </div><!-- .container-fluid -->
</section><!-- .craste-banner-image-area -->
