<section class="craste-resume-area resume-alt" id="value">
    <div class="container-fluid">
        <div class="row craste-shrink">
            <div class="col-12">
                {% for value in site.data.value %}
                    {% capture thecycle %}{% cycle 'left', 'right' %}{% endcapture %}
                    <div class="row flex-{{ thecycle }}">
                        <div class="col-md-6 col-12 on-boarding">
                            <div class="degree-title {{ thecycle }}">
                                <h3>{{ value.header }}</h3>
                            </div><!-- .degree-title -->
                        </div><!-- .col-md .col-12 -->
                        <div class="col-md-6 col-12 align-self-center on-boarding">
                            <div class="single-resume-details">
                                <h2>{{ value.title }}</h2>
                                {{ value.text | markdownify }}
                            </div><!-- .single-resume-details -->
                        </div><!-- .col-md .col-12 -->
                    </div><!-- .row -->
                {% endfor %}
            </div><!-- .col-sm-8 .offset-sm-1 .col-12 -->
        </div><!-- .row -->
    </div><!-- .container-fluid -->
</section>
